.header {
    background-image: url('../../../assets/cover2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 70px;
}

.name {
    color: mediumvioletred;
    font-weight: bold;
    text-shadow: aqua;
    font-family: 'Bruno Ace SC', cursive;
    
}

.name:hover{
    color: white;
}

.link,
.blog {
    text-decoration: none;
    font-size: large;
    font-weight: 700;
    color: white;
}

