.photo img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 10px;
 
}
.photo{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
h4{
    text-align: center;
}
@media screen and (max-width: 768px) {
    .photo{
      grid-template-columns: 1fr;
      text-align: center;
    }
  }